*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-container {
  max-width: 1366px;
  width: 55%;
  margin: 0 auto;
}

main.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 12px;
}

.currentImage {
  cursor: pointer;
}

button.control {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  border-radius: 50% 0 0 50%;
  padding: 0 1.2%;
  height: 33%;
  font-size: 2em;
  color: #666;
  cursor: pointer;
  transition: all 0.5s ease;
}

button.prev{
    border-radius: 0 50% 50% 0;
    left: 0;
}

.control:hover{
  background: rgb(0, 0, 0,0.25);
  color: #fff;
}

button.slider:hover{
  color: white;
  background-color: rgba(255,255,255, 0.25) ;
}

.thumb-box, .thumbnails{
  display: flex;
  justify-content: space-between;
}

.thumb-box img, .thumbnails img{
  margin-top: 24px;
  display: block;
  width: 19%;
  cursor: pointer;   
  transition: all 0.4s ease;
  border-radius: 8px;
}

.thumb-box img:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.active{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/***** Modal *****/
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  padding-top: 12px;
  overflow: auto;
}

#close{
  position: absolute;
  right: 5vw;
  top: 32px;
  color: #ddd;
  font-size: 1.8em;
  cursor: pointer;
  transition: 0.4s;
}

#close:hover{
  opacity: 0.5;
}

.content {
  display: block;
  margin: auto;
  max-width: 1176px;
  width: 70%;
}

#caption {
  display: none;
  color: #ddd;
  text-align: center;
  font-size: 2em;
  width: 67%;
  margin: auto;
  padding: 12px 0;
}

@media only screen and (max-width: 1024px){
  .slideshow-container{
    width: 80%;
  }
}

/***** Modal Responsiveness *****/
@media only screen and (max-width: 1200px){
  .content {
    width: 85%;
  }
  #close{
    top: 10px;
    right: 3vw;
  }
  .modal .thumb-box{
    width: 90%;
    margin: auto;
  }
}

/***** Animations *****/
#fade1{
  animation-name: fade1;
  animation-duration: 1.3s;
}

#fade2{
  animation-name: fade2;
  animation-duration: 1.3s;
}

.zoom-in{
  animation-name: zoom-in;
  animation-duration: 0.6s;
}

.zoom-out{
  animation-name: zoom-out;
  animation-duration: 0.6s;
}
@keyframes fade1{
  from {opacity: .4;}
  to {opacity: 1;}
}

@keyframes fade2{
  from {opacity: .5;}
  to {opacity: 1;}
}

@keyframes zoom-in {
  from{transform: scale(0);}
  to{transform: scale(1);}
}

@keyframes zoom-out{
  from {transform: scale(1);}
  to {transform: scale(0);}
}



