*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.slideshow-container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 16px;
  font-size: 1.6em;
}

main.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-height: 640px;
}

button.control {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  border-radius: 50% 0 0 50%;
  padding: 0 1.2%;
  height: 33%;
  font-size: 3em;
  color: #aaa;
  cursor: pointer;
  transition: all 0.5s ease;
}

button.prev{
    border-radius: 0 50% 50% 0;
    left: 0;
}


.control:hover{
  background: rgb(0, 0, 0,0.25);
  color: #fff;
}

button.slider:hover{
  color: white;
  background-color: rgba(255,255,255, 0.25) ;
}

.thumb-box{
  display: flex;
  justify-content: space-between;
}

.thumb-box img{
  margin-top: 24px;
  display: block;
  width: 19%;
  cursor: pointer;   
  transition: all 0.4s ease;
  border-radius: 8px;
}

.thumb-box img:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.active{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.fade{
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade{
  from {opacity: .2;}
  to {opacity: 1;}
}



